<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkM5qE-PI6Gu06GpSU6SfY-0usODmzYwY</string>
	<key>GCM_SENDER_ID</key>
	<string>738116931986</string>
	<key>BUNDLE_ID</key>
	<string>com.squadio.buildUp</string>
	<key>PROJECT_ID</key>
	<string>buildup-dev-4c1cd</string>
</dict>
</plist>
