<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans-Regular</string>
		<string>NunitoSans-Italic</string>
		<string>NunitoSans-ExtraLight</string>
		<string>NunitoSans-ExtraLightItalic</string>
		<string>NunitoSans-Light</string>
		<string>NunitoSans-LightItalic</string>
		<string>NunitoSans-SemiBold</string>
		<string>NunitoSans-SemiBoldItalic</string>
		<string>NunitoSans-Bold</string>
		<string>NunitoSans-BoldItalic</string>
		<string>NunitoSans-ExtraBold</string>
		<string>NunitoSans-ExtraBoldItalic</string>
		<string>NunitoSans-Black</string>
		<string>NunitoSans-BlackItalic</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
